.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
}

.title{
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
}